.projectImg {
    width: 700px;
    height: auto;
    max-width: 100%;
    max-height: auto;
}

iframe {
    max-width: 95%;
    min-height: auto;
}

h2 {
    font-weight: normal;
}

.icon {
    width: 250px;
    height: 250px;
    margin-right: 750px;
    left: 0;
    align-items: left;
}

.title {
    border-bottom: 1px solid #ddd;
    box-shadow: 0 1px 0 0 #fff;
    font-size: 30px;
    /* margin: 0 0 5px; */
    /* padding-left: 5%; */
    text-shadow: 0 1px 1px #fff;
    font-size: 34px;
    line-height: 1;
    margin: 0 0 24px;
    padding-top: 35px;
    text-align: left;
}

button {
    background-color: black;
    border: none;
    color: white;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 14px;
}

button:hover {
    background-color: #1871CA;
}

.info {
    font-size: 25px;
    text-align: center;
    text-decoration: none;
}
.info:hover{
    text-decoration: underline;
}

.paragraph {
    color: black;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word;
    padding-left: 15px;
    padding-right: 15px;
}