/* 
    Color Theme Pallete for Portfolio site
    https://coolors.co/606c38-283618-fefae0-dda15e-bc6c25 

    LGreen: #606C38
    DGreen: #283618
    Light: #FEFAE0
    LOrange: #DDA15E
    DOrange: #BC6C25
    DDBlue: #1871CA
    DBlue: #1976D2
    LBlue: #61DAEF
*/
@media screen and (max-width: 875px) {

  .paragraph,
  footer,
  .title, 
  .head{
    width: 95%;
    /* The width is 100%, when the viewport is 800px or smaller */
  }
  .table, .PLtable, .Cardtable{
    height:auto;
    width: 99%;
  }
}

@media screen and (min-width: 875px) {

  .paragraph,
  .title,
  .head {
    width: 850px;
  }
  .table{
    width:280px; 
    height:186px;
  }
  .PLtable{
    width:280px; 
    height:280px;
  }
  .Cardtable{
    width:283px; 
    height:auto;
  }
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: left;
  border-top: 1px solid #ddd;
  box-shadow: 0 1px 0 0 #fff;
}

header {
  position: relative;
  width: 100%;
  background-color: black;
  height: 150px;
  padding-top: 15px;
  margin-top: 0px;
} 

.head {
    margin: 0 0 24px;
    text-align: left;
    color: white;
}

body {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #f6f6f6;
  margin: 0;
}