/* 
    Color Theme Pallete for Portfolio site
    https://coolors.co/606c38-283618-fefae0-dda15e-bc6c25 

    LGreen: #606C38
    DGreen: #283618
    Light: #FEFAE0
    LOrange: #DDA15E
    DOrange: #BC6C25
    DDBlue: #1871CA
    DBlue: #1976D2
    LBlue: #61DAEF
*/

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

.header {
  position:relative;
  left: 0;
  top: 0;
  width: 100%;
  background-color: black;
  color: white;
  display:inline-flex;   
  height: 150px;
  font-size: 16px;
  text-align: left;
  align-items: center;  
  justify-content: center;
}

.head{
  text-align: left;
  margin-left: 250px;
}

body {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #f6f6f6;
  margin:0;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}